datasets
ipywidgets
jupyterlab
pandas
psutil
scikit-learn
sentence-transformers
spacy
torch==1.11.0+cu113
transformers

seaborn

# package location
--find-links https://download.pytorch.org/whl/cu113/torch_stable.html

